---
import MemberCard from '@/components/MemberCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllMembers } from '@/lib/data-utils'

const members = await getAllMembers()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="members" />
  <Breadcrumbs items={[{ label: 'members', icon: 'lucide:users' }]} />
  {
    members.length > 0 ? (
      <ul class="flex flex-col gap-4">
        {members.map((Member) => (
          <li>
            <MemberCard member={Member} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-muted-foreground text-center">no members found.</p>
    )
  }
</Layout>
