---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border">
      <div class="p-6 pt-0">
        <p class="text-muted-foreground text-sm">
          <br>
          все ссылки тута
          <h1>dexx:</h1>
          <h2>
          <Link
            href={'https://discord.com/users/999589862158114848'}
            class="text-foreground"
            underline
            external
          > 
          discord
          </Link></h2>
          <h2>
          <Link
            href={'https://github.com/1dexx1'}
            class="text-foreground"
            underline
            external
          > 
          github
          </Link></h2>
          <h2>
          <Link
            href={'https://boosty.to/1dexx1'}
            class="text-foreground"
            underline
            external
          > 
          boosty
          </Link></h2>
          <h2>
          <Link
            href={'https://steamcommunity.com/id/1dexx1'}
            class="text-foreground"
            underline
            external
          > 
          steam
          </Link></h2>
          <br>
          nelsoni:
          <h2>
            <Link
              href={'https://discord.com/users/802521064059305984'}
              class="text-foreground"
            underline
            external
            > 
            discord
            </Link></h2>
        </p>
      </div>
    </div>
  </section>
</Layout>
